html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#canvas {
    height: 900px;
    border: 1px solid silver;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}

#btn-save {
    position: fixed;
    top: 20px;
    left: 96px;
}

#btn-run {
    margin-top: 20px
}

#task-handler-editor {
    width: 97%;
    height: 200px;
}

.codeflask {
    height: inherit !important;
    width: inherit !important;
    border: 1px dotted silver;
}
